body{
  background-color: black;
  color: white;

}
svg{
  width: 30px;
  height: 30px;

}
.collapse{
  float: left;
}

.header{
  size: 20rem;
}
.navegacion{
  position:fixed;
  z-index: 10;
  height: 10%;
  margin-left: 15vw !important;
}

.card{
  background-color: #17a3b8;
  border-color: #828790;
}
.turquesa{
  background-color: #17a3b8;
}

.titulo{
  border-bottom: 1px solid  #17a3b8;
  
}
.imagenArticulo{
  background-color: #17a3b8;
}
.card-img-top{
  height: 25vh;
}
.logo{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
}
.logoFooter{
  display: inline-block;
}

.vinculos{
  display: inline-block;
  margin-left: 48vw;
}
.vinculos a{
  
  color: #fff;
  text-decoration: none;

}
@media (max-width:480px){
  .logoFooter{
    margin-left: 10vw;
    margin-top: 2vw;
  }
  .vinculos{
    display: block;
    text-align: left;
    margin-left: 28vw;
  }
  .fa-2x {
    font-size: 1em;
  }


}